img {
    object-fit: cover;
    width: 100%;
    height: 100%;
    position: fixed;
    z-index: -1;
  }
  
  .hero-container {
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-shadow: inset 0 0 0 1000px rgba(0, 0, 0, 0.2);
    object-fit: contain;
    font-family: "Edu AU VIC WA NT Pre", cursive;
    font-optical-sizing: auto;
    font-weight: weight;
    font-style: normal;
  }
  .hero-container img {
    top: 0;             /* Üst kenarı sıfırlar */
    left: 0;            /* Sol kenarı sıfırlar */
    width: 100%;        /* Tam genişlik */
    height: 100%;       /* Tam yükseklik */
    object-fit: cover;  /* Resmin oranını korur ve alanı doldurur */
    z-index: -1;        /* Arka planda kalmasını sağlar */
  }
  .hero-container > h1 {
    color: #fff;
    font-size: 100px;

    font-family: "Edu AU VIC WA NT Pre", cursive;
    font-optical-sizing: auto;
    font-weight: weight;
    font-style: normal;  }
  
  .hero-container > p {
    margin-top: 8px;
    color: #fff;
    font-size: 32px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande',
      'Lucida Sans', Arial, sans-serif;
  }